@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    background-color: #616161;
    background-color: linear-gradient(90deg, rgba(97, 97, 97, 1) 0%, rgba(64, 64, 64, 1) 52%, rgba(84, 80, 80, 1) 100%);
}

header{
    display: inline;
    height: 100px;
}
header {
    display: flex;
    background-color: #E0C097;
    width: 80%;
    margin: 40px auto;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px; /* arrondis */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* ombre douce */
}

#photo_profil{
    width: 8%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex aside {
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    gap: 2% 5%;
    margin: 5%;
}
.carre {
  aspect-ratio: 20 1; /* cela garantit un rapport 1:1, donc un carré */
}

.app {
    width: 15vmin;  /* Utilisation de vmin pour la largeur et la hauteur */
    height: 15vmin; /* Assurez-vous que la hauteur et la largeur sont égales */
    height: auto;
    padding: 2%;
    color: white;
    text-align: center;
    user-select: none;
}

.app img{
    width: 100%;
    height: auto;
}
.app p{
    margin: 0;
}
.block {
    margin: auto;
    width: 70%;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
}
.app:hover{
    background-color: rgba(255, 255, 255, 0.1);
}