@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    --height_aff: 440px;
    --gris_bg: #616161;
    --bulle: #32888f;
    --bulle_outline: #2d7a80;
    --bg_vert: #3af80a65;
    font-family: "Rubik", sans-serif;
    margin: 0;
    background-color: var(--gris_bg);
}

body {
    animation: fondu_noir 0.5s ease forwards;
}

header {
    display: inline;
    height: 100px;
}

header {
    display: flex;
    background-color: #E0C097;
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    /* arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* ombre douce */
}

#photo_profil {
    width: 8%;
    border-radius: 15%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex aside {
    height: var(--height_aff);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    gap: 2% 5%;
    margin: 2% 5%;
}

.carre {
    aspect-ratio: 20 1;
    /* cela garantit un rapport 1:1 */
    border-radius: 10%;
}

.app {
    width: 15vmin;
    /* Utilisation de vmin pour la largeur et la hauteur */
    height: 15vmin;
    /* Assurez-vous que la hauteur et la largeur sont égales */
    height: auto;
    padding: 2%;
    color: white;
    text-align: center;
    user-select: none;
}

.app img {
    width: 100%;
    height: auto;
}

.app p {
    margin: 0;
}

.block {
    margin: auto;
    width: 70%;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
}

.app:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#affichage {
    --couleur_affichage: #6e959a;
    --couleur_affichage2: rgb(111, 111, 111);
    /*
    background: radial-gradient(circle, var(--gris_bg) 0%, var(--couleur_affichage) 30%, var(--couleur_affichage2) 60%, var(--couleur_affichage) 100%);*/
    background-color: var(--couleur_affichage);
    box-shadow: 0px 0px 21px 6px var(--couleur_affichage);
    margin: 20px 10%;
    width: 50%;
    height: var(--height_aff);
    border-radius: 10%;
    border: 5px var(--couleur_affichage) solid;
    z-index: 1;
    color: white;
}

.relative {
    position: relative;
}

#mail {
    width: 80%;
}

.style_affichage {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    top: -10px;
    left: 0;
    margin: 3%;
    z-index: 2;
}

.bulle_interieure {
    background-color: var(--bulle);
    border: var(--bulle_outline) solid 3px;
    border-radius: 30px;
    box-shadow: 0px 0px 21px 6px var(--bulle_outline);
}
.bulle_texte{
    padding: 0 10px;
}

/*********************************************animations********************************************************/

@keyframes opacite0 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes turn_on {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes turn_off {
    0% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 0.4;
    }
}

@keyframes fondu_noir {
    0% {
        background-color: black;
        opacity: 0;
        scale: 0;
    }

    20% {
        scale: 0
    }

    40% {
        opacity: 0;
        ;
    }

    100% {
        opacity: 1;
        background-color: var(--gris_bg);
        scale: 1;
    }
}

.animate-pop {
    animation: pop 0.2s ease-in-out forwards;
}

.animate_on {
    animation: turn_on 0.5s ease-out forwards;
}

.animate_off {
    animation: turn_off 0.2s ease-in forwards;
}