@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    --height_aff: 500px;
    --gris_bg: #6b6b6b;
    --gris_bg2: #535353;
    --bulle: #32888f;
    --bulle_outline: #2d7a80;
    --bule_vert: #31852e;
    --bule_vert_outline: #2c7729;
    --bg_vert: #3af80a65;
    --orange: #d3a76e;
    --orange2: #ad8652;
    --rose: #c77bc3;
    --rose2: #aa69a7;
    --couleur_separateur_1: #e6646475;
    --couleur_separateur_2: #9198e575;
    --couleur_separateur_3: #91e5b775;
    --couleur_separateur_1_full: #e66464;
    --couleur_separateur_2_full: #9198e5;
    --couleur_separateur_3_full: #91e5b7;
    font-family: "Rubik", sans-serif;
    margin: 0;
    background-color: var(--gris_bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    animation: fondu_noir 0.5s ease forwards;
}
main{
    flex: 1;/*prendre toute les place si le site est trop petit*/
}

header {
    display: inline;
}

header {
    display: flex;
    background-color: var(--orange);
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--orange);
    /* couleur de départ */
    box-shadow: 0 0 20px var(--orange);
}

#portfolio {
    font-size: xx-large;
    font-family: "Pacifico", cursive;
}

#photo_profil {
    width: 8%;
    max-width: 100px;
    border-radius: 15%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex aside {
    height: calc(var(--height_aff)/1.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    gap: 5% 5%;
    margin: auto;
    justify-content: center;
}

.carre {
    border-radius: 10%;
}
#icone_trop_grand{
    margin: 0 auto;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vmin;
    /* Utilisation de vmin pour la largeur et la hauteur */
    height: 18vmin;
    padding: 2%;
    color: white;
    text-align: center;
    user-select: none;
}

.app img {
    width: 100%;
    height: auto;
}

.app p {
    margin: 0;
}

.block {
    margin: 10px;
    width: 70%;
    height: auto;
}

.app:hover {
    animation: truc_machin_anim_couleur_de_fou 4s linear infinite forwards;
}

#affichage {
    --couleur_affichage: #6e959a;
    --couleur_affichage2: rgb(111, 111, 111);
    /*
    background: radial-gradient(circle, var(--gris_bg) 0%, var(--couleur_affichage) 30%, var(--couleur_affichage2) 60%, var(--couleur_affichage) 100%);*/
    background-color: var(--couleur_affichage);
    box-shadow: 0px 0px 21px 6px var(--couleur_affichage);
    margin: 20px 10%;
    width: 50%;
    height: var(--height_aff);
    border-radius: 10%;
    border: 5px var(--couleur_affichage) solid;
    z-index: 1;
    color: white;
}

.relative {
    position: relative;
}

.mail {
    width: 80%;
}
#mailAffichage{
    height: 90%;
}
.style_affichage {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    left: 0;
    margin: 3%;
    z-index: 2;
    width: 94%;
}

.bulle_interieure {
    background-color: var(--bulle);
    border: var(--bulle_outline) solid 3px;
    border-radius: 30px;
    box-shadow: 0px 0px 21px 6px var(--bulle_outline);
}

.bulle_texte {
    padding: 0 10px;
}

.bulle_vert {
    background-color: var(--bule_vert);
    border-color: var(--bule_vert_outline);
    box-shadow: 0px 0px 21px 6px var(--bule_vert_outline);
}

.bulle_orange {
    background-color: var(--orange);
    border-color: var(--orange2);
    box-shadow: 0px 0px 21px 6px var(--orange2);
}

.bulle_rose {
    background-color: var(--rose);
    border-color: var(--rose2);
    box-shadow: 0px 0px 21px 6px var(--rose2);
}

.bulle_grise {
    background-color: var(--gris_bg);
    border-color: var(--gris_bg2);
    box-shadow: 0px 0px 21px 6px var(--gris_bg2);
}

.bulle_multicolor_red {
    /* les couleurs sont en hex pour etre plus simple a changer, niveau opacité*/
    --red_multi_1: #ff00005b;
    --red_multi_2: #ffee005b;
    animation: truc_machin_anim_couleur_de_fou_red 4s linear infinite forwards;
}
.bulle_multicolor_blue {
    /* les couleurs sont en hex pour etre plus simple a changer, niveau opacité*/
    --blue_multi_1: #00c8ff5b;
    --blue_multi_2: #0059ff5b;
    animation: truc_machin_anim_couleur_de_fou_blue 4s linear infinite forwards;
}
.bulle_multicolor_green {
    /* les couleurs sont en hex pour etre plus simple a changer, niveau opacité*/
    --green_multi_1: #b7ff005b;
    --green_multi_2: #00ff845b;
    animation: truc_machin_anim_couleur_de_fou_green 4s linear infinite forwards;
}

#message_start {
    height: 90%;
}

#mailAffichage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 94%;
}

/****************************langues************************************/
#langues {
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
}

#langues_vivantes {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.load {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#langues_codage {
    justify-content: center;
    align-items: center;
}

.exemple_langues {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
}

.image_code {
    width: 70%;
}

.image_code_grand {
    width: 100%;
}

#les_langues_de_code {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 500px;
}
/**********************projets ************************************/
#projets{
    display: flex;
    justify-content: space-between;
}

#piano {
    display: flex;
    position: relative;
    width: 45%;
    height: calc(var(--height_aff)*0.94/2);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.bulle_piano {
    position: relative;
    width: 90%;
    height: 90%;
}

#piano_screen_1 {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    width: 50%;
    left: 0px;
}

#piano_screen_2 {
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    right: 0px;
}

#projects {
    height: 50%;
}

.piano {
    user-select: none;
    display: flex;
    width: 100%;
    height: calc(var(--height_aff)*0.94/2);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image_piano {
    height: 100%;
    width: auto;
}

#image_piano_2 {
    translate: -25%;
}

#separateur {
    z-index: 15;
    width: 10px;
    background-color: black;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(var(--couleur_separateur_1_full), var(--couleur_separateur_2_full), var(--couleur_separateur_3_full));
    background-size: 300% 300%;
    /*sinon on voit pas le truc bouger et sa sert a rien*/
    animation: bouge_background 3.5s infinite;
}

/*******************matrix*********************/
#place_matrix {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bulle_matrix {
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

#matrix {
    border-radius: 10px;
    height: calc(var(--height_aff)*0.94/2 - 30px);
    /*la moitié de l'affichage, avec de la place en + pour le style*/

}
/***************a_propos***************/
#a_propos{
    display: flex;
    height: 90%; /*a cause des ~10% de margin, comme toujours*/
    align-items: center;
}

/******************************footer******************************/

footer {
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin: auto;
}

/*********************************************animations********************************************************/
@keyframes bouge_background {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

@keyframes truc_machin_anim_couleur_de_fou_red {
    0% {
        border-color: var(--red_multi_1);
        box-shadow: 0 0 20px var(--red_multi_1);
        background-color: var(--red_multi_1);
    }

    50% {
        border-color: var(--red_multi_2);
        box-shadow: 0 0 20px var(--red_multi_2);
        background-color: var(--red_multi_2);
    }

    100% {
        border-color: var(--red_multi_1);
        box-shadow: 0 0 20px var(--red_multi_1);
        background-color: var(--red_multi_1);
    }
}
@keyframes truc_machin_anim_couleur_de_fou_blue {
    0% {
        border-color: var(--blue_multi_1);
        box-shadow: 0 0 20px var(--blue_multi_1);
        background-color: var(--blue_multi_1);
    }

    50% {
        border-color: var(--blue_multi_2);
        box-shadow: 0 0 20px var(--blue_multi_2);
        background-color: var(--blue_multi_2);
    }

    100% {
        border-color: var(--blue_multi_1);
        box-shadow: 0 0 20px var(--blue_multi_1);
        background-color: var(--blue_multi_1);
    }
}
@keyframes truc_machin_anim_couleur_de_fou_green {
    0% {
        border-color: var(--green_multi_1);
        box-shadow: 0 0 20px var(--green_multi_1);
        background-color: var(--green_multi_1);
    }

    50% {
        border-color: var(--green_multi_2);
        box-shadow: 0 0 20px var(--green_multi_2);
        background-color: var(--green_multi_2);
    }

    100% {
        border-color: var(--green_multi_1);
        box-shadow: 0 0 20px var(--green_multi_1);
        background-color: var(--green_multi_1);
    }
}

@keyframes truc_machin_anim_couleur_de_fou {
    0% {
        border-color: var(--couleur_separateur_1);
        box-shadow: 0 0 20px var(--couleur_separateur_1);
        background-color: var(--couleur_separateur_1);
    }

    33% {
        border-color: var(--couleur_separateur_2);
        box-shadow: 0 0 20px var(--couleur_separateur_2);
        background-color: var(--couleur_separateur_2);
    }

    66% {
        border-color: var(--couleur_separateur_3);
        box-shadow: 0 0 20px var(--couleur_separateur_3);
        background-color: var(--couleur_separateur_3);
    }

    100% {
        border-color: var(--couleur_separateur_1);
        box-shadow: 0 0 20px var(--couleur_separateur_1);
        background-color: var(--couleur_separateur_1);
    }
}

@keyframes opacite0 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes turn_on {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes turn_off {
    0% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 0.4;
    }
}

@keyframes fondu_noir {
    0% {
        background-color: black;
        opacity: 0;
        scale: 0;
    }

    20% {
        scale: 0
    }

    40% {
        opacity: 0;
        ;
    }

    100% {
        opacity: 1;
        background-color: var(--gris_bg);
        scale: 1;
    }
}

.animate-pop {
    animation: pop 0.2s ease-in-out forwards !important;
    /*!important --> comme sa le :hover override pas l'anim pop*/

}

.animate_on {
    animation: turn_on 0.5s ease-out forwards;
}

.animate_off {
    animation: turn_off 0.2s ease-in forwards;
}